<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вкус Зима табака Сарма | Отзывы, рейтинг вкусов, крепость.</title>
    <meta name="description" content="Общественный рейтинг табаков для кальяна. Отзывы, крепость, советы.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta name="google-signin-client_id"
        content="379860542000-rek3hhv6081nuume2hf4332pe3g9aerk.apps.googleusercontent.com">
    <link rel="shortcut icon" type="image/png" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="https://htreviews.org/src/css/styles.css?v=9" />
    <style >
    </style>
</head>
<body class="">
        <header data-open="0">
        <div class="header_top">
            <div class="header_sidebar">
                <div class="bars_icon">
    <div></div>
    <div></div>
    <div></div>
</div>            </div>
            <div class="header_logo">
                <a href="/">
                    <img src="https://htreviews.org/images/svg/logo/logoShort.svg" alt="logo">
                </a>
            </div>
            <div class="header_search" data-open="0">
                <div>
                    <input type="text" class="search_text" maxlength="120"
                        placeholder="Введите название табака, бренда или линейки">
                    <div class="search_button" title="Искать">
                        <img src="https://htreviews.org/images/svg/search.svg" alt="">
                    </div>
                </div>
                <div class="quick_result" data-open="0"></div>
            </div>
            <div class="header_quick_search" data-active="0">
                <div>
                    <img src="https://htreviews.org/images/svg/search.svg" alt="">
                </div>
                <div></div>
            </div>
            <div class="header_profile">
                                <div class="header_login">
                    <img src="https://htreviews.org/images/svg/account.svg" alt="">
                    <span>Войти</span>
                </div>
                            </div>
        </div>
        <div class="header_bottom">
            	<nav>
		<a href="/tobaccos">Рейтинги</a>
		<a href="/hall-of-fame">Зал славы</a>
		<a href="/reviews">Новые отзывы</a>
		<a href="/tobaccos/new">Новые вкусы</a>	
		<a class="new" href="/add">Добавить вкус</a>
		<a href="/news">Новости</a>
		<a href="/contacts">Контакты</a>
		<a href="https://oshisha.net/?utm_source=htreviews&utm_medium=artikle&utm_content=linc" target="_blank">Магазин <b style="color: red;">Ò</b><b style="font-size: 13px;">SHISHA</b></a>
	</nav>	
        </div>
        <div class="header_shadow"></div>
        <div class="header_modal" data-open="0">
            <div class="modal_wrapper">
                <div class="modal_cross">
                    <img src="https://htreviews.org/images/svg/cross.svg" alt="">
                </div>
                <div class="modal_content"></div>
            </div>
        </div>
    </header>
    <main ><section>
	<div class="object_wrapper" data-id="197863">
		<div class="object_product">
    <div class="object_card">
        <div class="object_card_left">
            <div class="object_image">
                <img loading="lazy" data-zoom src="https://htreviews.org/uploads/objects/5/8594df9a7f7469a4e63413f221dd95f9.webp" alt="Зима">
            </div>
            <div class="object_card_title">
	<h1>Зима</h1>
	<span></span>
	</div>            <div class="object_card_tags_group">
	<div class="tags_group">
				<div class="group_title" style="--color:#88b3e6;">
				<span>Освежающий</span>
			</div>
			</div>
	<div class="group_items">
									<a class="object_card_tag" href="https://htreviews.org/tobaccos?r=flavor&t=46"
				style="--bg0: #88b3e6; --group_color:#88b3e6;">
					<div class="tag_dot"><div></div></div>
					<span>Холодок</span>
				</a>
							
	</div>
</div>
        </div>
        <div class="object_card_right">
	<div>
		<div class="object_card_title">
	<h1>Зима</h1>
	<span></span>
	</div>		<div class="object_card_tags_group">
	<div class="tags_group">
				<div class="group_title" style="--color:#88b3e6;">
				<span>Освежающий</span>
			</div>
			</div>
	<div class="group_items">
									<a class="object_card_tag" href="https://htreviews.org/tobaccos?r=flavor&t=46"
				style="--bg0: #88b3e6; --group_color:#88b3e6;">
					<div class="tag_dot"><div></div></div>
					<span>Холодок</span>
				</a>
							
	</div>
</div>
	
		<div class="object_card_discr">
			<span>Бодрящий мороз с сибирским характером.</span>
		</div>
		<div class="object_card_wish" data-wish="0" data-add="Добавить в избранное" data-rem="Убрать из избранного">
			<div class="wish_button">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
    <path d="M336 0h-288C21.49 0 0 21.49 0 48v431.9c0 24.7 26.79 40.08 48.12 27.64L192 423.6l143.9 83.93C357.2 519.1 384 504.6 384 479.9V48C384 21.49 362.5 0 336 0zM336 452L192 368l-144 84V54C48 50.63 50.63 48 53.1 48h276C333.4 48 336 50.63 336 54V452z"/>
    <path d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"/>
</svg>
			</div>
		</div>
		<div class="object_card_info">
	<div class="object_info_item">
		<span>Бренд</span>
		<span></span>
		<span>
			<a href="https://htreviews.org/tobaccos/sarma">
				Сарма			</a>
		</span>
	</div>
	<div class="object_info_item">
		<span>Линейка</span>
		<span></span>
		<span>
			<a href="https://htreviews.org/tobaccos/sarma/klassicheskaya">
				Классическая			</a>
		</span>
	</div>
	<div class="object_info_item">
		<span>Страна</span>
		<span></span>
		<span>Россия</span>
	</div>
	<div class="object_info_item">
		<span>
			<span>Крепость официальная</span>
			<div data-hover-notice="Крепость указана такая, какой ее заявляет производитель. Но производители не всегда явно заявляют крепость линейки, а кроме того, она может не совпадать с ощущениями потребителей. Также на крепость сильно влияет забивка и чашка." data-open="0" data-align="center" title="Подробнее">
				<i>?</i>
			</div>
		</span>
		<span></span>
		<span>Средняя</span>
	</div>
			<div class="object_info_item">
			<span>
				<span>Крепость по оценкам</span>
				<div data-hover-notice="Крепость указана на основе ощущений пользователей. Она может не совпадать с крепостью, которую заявляет производитель. На крепость сильно влияют забивка и чашка." data-open="0" data-align="center" title="Подробнее">
					<i>?</i>
				</div>
			</span>
			<span></span>
			<span>Средне-лёгкая</span>
		</div>
		<div class="object_info_item" data-id="1">
		<span>
			<span>Статус</span>
			<div data-hover-notice="Производители редко делают официальные сообщения о снятии вкуса, линейки или бренда с производства, поэтому информация о статусе может быть не точной. Лимитированные вкусы изначально выпускается ограниченным тиражом." data-open="0" data-align="right" title="Подробнее">
				<i>?</i>
			</div>
		</span>
		<span></span>
		<span>Выпускается</span>
	</div>
	<div class="object_info_item">
		<span>
			<span class="object_info_promo">Промокод на <a class="promo_link" href="https://oshisha.net/?utm_source=htreviews&utm_medium=banner&utm_campaign=promo&utm_content=linc" target="_blank">oshisha</a></span>
			<div data-hover-notice="Используйте промокод htreviews на сайте oshisha для скидки 500₽." data-open="0" data-align="center" title="Подробнее">
				<i>?</i>
			</div>
		</span>
		<span></span>
		<span class="promo_text" title="Скопировать">htreviews</span>
	</div>
	<div class="object_info_item">
		<span>HtreviewsID</span>
		<span></span>
		<span>htr197863</span>
	</div>
	<div class="object_info_item">
		<span>Добавлен на сайт</span>
		<span></span>
		<span>06.12.2024</span>
	</div>
			<div class="object_info_item">
			<span>Добавил</span>
			<span></span>
			<span class="offered_by_user">
				<a href="https://htreviews.org/profile/6383" title="Link">
					Link				</a>
			</span>
		</div>
	</div>	</div>
	<div class="object_stats">
		<div class="score_graphic">
			<div data-rating="4.9">
				<svg id="progress" percent="93" viewport="0 0 140 140">
	<circle cx="70" cy="70" r="64"></circle>
	<circle cx="70" cy="70" r="64"></circle>
			<defs>
			<linearGradient id="ScoreGradient">
				<stop offset="5%" stop-color="#73D016" />
				<stop offset="95%" stop-color="#B3D726" />
			</linearGradient>
		</defs>
	</svg>			</div>
			<div data-stats="1">
				<div data-hover-title="Оценки">
					<img src="https://htreviews.org/images/svg/icons/star2.svg" alt="">
					<span>45</span>
				</div>
				<div data-hover-title="Отзывы">
					<img src="https://htreviews.org/images/svg/icons/chat-lines.svg" alt="">
					<span>44</span>
				</div>
				<div data-hover-title="Просмотры">
					<img src="https://htreviews.org/images/svg/icons/eye-empty2.svg" alt="">
					<span>5.2k</span>
				</div>
			</div>
		</div>
			<h4>Распределение оценок</h4>	
	<div class="score_meter">
						
						
						
									<div class="score_meter_item" style="width:16%;">
					<div data-score="4">
						<span>16%</span>
					</div>
					<div data-score-count="4">
						<span>4</span>
						<span>7</span>
					</div>
				</div>
				
									<div class="score_meter_item" style="width:84%;">
					<div data-score="5">
						<span>84%</span>
					</div>
					<div data-score-count="5">
						<span>5</span>
						<span>38</span>
					</div>
				</div>
				
			</div>	
			<h4>Покурили бы еще раз</h4>	
	<div class="again_meter">
									<div class="again_meter_item" style="width:5%;">
					<div data-score="no">
						<span>5%</span>
					</div>
					<div data-score-count="no">
						<span>Нет</span>
						<span>2</span>
					</div>
				</div>
												<div class="again_meter_item" style="width:95%;">
					<div data-score="yes">
						<span>95%</span>
					</div>
					<div data-score-count="yes">
						<span>Да</span>
						<span>40</span>
					</div>
				</div>
						</div>
					<div class="toogle_our_reply yellow_button" data-action="1" data-replace="Скрыть">
				<div>Оценить табак</div>
			</div>
			</div>
</div>    </div>
    <div class="object_brand">
        <h3>О бренде</h3>
        <div data-desc="1">Наши ароматы — это воспоминания. Они переносят тебя в летний двор на каникулах, к вечернему костру, в первую поездку на море, на дачу с чаем и вареньем, к запахам осеннего сада и ягодам в лесу.
У Сармы три линейки:
• Легкая Сарма 360° — низкая крепость
• Классическая Сарма — средняя крепость
• Крепкая Сарма 360° — высокая крепость
Основа классической линейки — таежные травы и ягоды, садовые фрукты, традиционные напитки и домашние десерты.
Крепкая и Легкая линейки Сарма 360° — результат разделения бленда классической линейки на светлый лист Вирджинии и темный лист Берлея, и шаг за пределы привычных ароматов. Они дополняют классику экзотическими фруктами, оригинальными сочетаниями и яркими акцентами.</div>
                <div data-url="1">
	<a class="" data-id="" data-type=""  href="http://sarmahookah.ru" target="_blank">Посетить сайт</a>
</div>            </div>
        <div class="object_line">
        <h3>О линейке</h3>
        <div data-desc="1">Отправься в путешествие
Средняя крепость, бленд американских листов светлой Вирджинии и темного Берлея. Натуральная ароматика без «химозности», удобная для работы консистенция.
Сарма — отличная основа для миксологии благодаря широкой палитре ароматов и высокой жаростойкости. 
Классическая линейка Сармы включает в себя уникальные позиции, не имеющие аналогов: Щавель, Княженика, Лимонад Буратино, Курага, Ромашковое варенье.</div>
    </div>
                    <div class="object_user_review" data-id="" data-active="0" data-edit="1" now>
	<div>
		<h3>Ваша оценка</h3>
					<div class="date_info" data-min="0" data-after="" data-before="" data-timestamp="1767395549"></div>
			</div>
	<div>
		<div class="user_score_title">
			<h4>Оцените вкус</h4>
		</div>
		<div class="user_score_graphic" data-type="rating" data-score="0" data-div="68">
			<input type="range" hidden min="0" max="360" step="1" value="0" data-range="circular" />
		</div>
		<div class="user_score_title">
			<h4>Оцените крепость</h4>
		</div>
		<div class="user_score_graphic" data-type="strength" data-score="0" data-div="66">
			<input type="range" hidden min="0" max="360" step="66" value="0" data-range="circular" />
		</div>
	</div>
	<div class="user_review_more">
		<h4>Покурили бы еще раз?</h4>
		<div class="switch_toggle">
			<input id="on" name="state_more" type="radio" value="1"  >
			<label for="on">да</label>
			<input id="na" name="state_more" type="radio" value="0" checked >
			<label for="na" class="disabled">не знаю</label>
			<input id="off" name="state_more" type="radio" value="2"  >
			<label for="off" onclick="">нет</label>
		</div>
	</div>
	<div>
		<div class="object_user_review_reply" data-active="1" data-editable="1">
			<div>Ваш комментарий</div>
							<div id="editor" data-content="" data-note ="Минимум 5 символов"></div>
										<div class="send_our_reply yellow_button" data-action="1" data-replace="Редактировать">
					<div>Отправить</div>
				</div>
					</div>
	</div>
</div>            	<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "Product",
		"category": "sarma/klassicheskaya/zima",
		"name": "Зима",
		"description": "Бодрящий мороз с сибирским характером.",
		"image": "https://htreviews.org/uploads/objects/5/8594df9a7f7469a4e63413f221dd95f9.webp",
		"url": "https://htreviews.org/tobaccos/sarma/klassicheskaya/zima",
		"brand": {
			"@type": "Brand",
			"name": "Сарма"
		},
		"aggregateRating": {
			"@type": "AggregateRating",
			"ratingValue": "4.9",
			"reviewCount": "45",
			"bestRating": "5",
			"worstRating": "1"
		}
	}
	</script>	
        
	<div class="object_product_rec">
		<a class="rec_link" data-id="47" data-type="product"
			href="https://htreviews.org/tobaccos/spectrum/medium-line#tobacco_list_wrapper" target="">
			<img class="obj_max" src="https://htreviews.org/images/rec/spectrum_medium_line_max.jpg" width="1200" height="240" loading="lazy" alt="">
			<img class="obj_min" src="https://htreviews.org/images/rec/spectrum_medium_line_min.jpg" loading="lazy" alt="">
		</a>
	</div>
</div>
<div class="object_reviews">
	<div class="filter_list">
		<div class="filter_list_title">
			<h2>Отзывы (47)</h2>
		</div>
		<div>
			<div class="filter_select">
	<div class="custom_select" data-active="1" data-type="profile">
		<div class="cs_current" data-toggle="1">
							<div class="cs_value">
					<input class="cs_input" type="radio" name="p"
					id="created_desc" data-type="created"
					value="desc" checked/>
					<p class="cs_input-text">Дата &#8600</p>
				</div>
							<div class="cs_value">
					<input class="cs_input" type="radio" name="p"
					id="created_asc" data-type="created"
					value="asc" />
					<p class="cs_input-text">Дата &#8599</p>
				</div>
							<div class="cs_value">
					<input class="cs_input" type="radio" name="p"
					id="score_desc" data-type="score"
					value="desc" />
					<p class="cs_input-text">Рейтинг &#8600</p>
				</div>
							<div class="cs_value">
					<input class="cs_input" type="radio" name="p"
					id="score_asc" data-type="score"
					value="asc" />
					<p class="cs_input-text">Рейтинг &#8599</p>
				</div>
					</div>
		<div class="cs_toggle" data-toggle="1">
			<img class="cs_icon" src="https://htreviews.org/images/svg/arrow-yellow.svg" alt=""/>
		</div>	
		<ul class="cs_list">
							<li>
					<label class="cs_option" for="created_desc">Дата &#8600</label>
				</li>
							<li>
					<label class="cs_option" for="created_asc">Дата &#8599</label>
				</li>
							<li>
					<label class="cs_option" for="score_desc">Рейтинг &#8600</label>
				</li>
							<li>
					<label class="cs_option" for="score_asc">Рейтинг &#8599</label>
				</li>
					</ul>
	</div>
</div>		</div>		
	</div>
</div>
	<div class="reviews_wrapper" data-active="1" data-type="new">
		<div class="reviews_list" data-target="1" data-offset="30" data-count="47"
			hx-get="https://htreviews.org/htmx/load/reviews_object?id=197863&object=tobacco&sortBy=created&direction=desc" hx-trigger="load delay:10ms">
			<div class="preloder_wrapper">
	<div class="modal_preloder">
		<svg version="1.1" id="L9" xmlns="http://www.w3.org/2000/svg"
			xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
			<path fill="#ffb92c" d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50">
				<animateTransform
					attributeName="transform"
					attributeType="XML"
					type="rotate"
					dur="1s"
					from="0 50 50"
					to="360 50 50"
					repeatCount="indefinite" />
			</path>
		</svg>
	</div>
</div>		</div>
	</div>
</div><div class="tobacco_list_wrapper">
	<div class="tobacco_tobaccos_title">
		<h2>Другие вкусы бренда</h2>
	</div>
	<div class="tobacco_list_items" data-target="5" data-offset="20" data-count="20" hx-trigger="load delay:10ms"
        hx-get="https://htreviews.org/htmx/load/other_flavors_by_brand?brand=47&tobacco=197863">
		<div class="preloder_wrapper">
	<div class="modal_preloder">
		<svg version="1.1" id="L9" xmlns="http://www.w3.org/2000/svg"
			xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
			<path fill="#ffb92c" d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50">
				<animateTransform
					attributeName="transform"
					attributeType="XML"
					type="rotate"
					dur="1s"
					from="0 50 50"
					to="360 50 50"
					repeatCount="indefinite" />
			</path>
		</svg>
	</div>
</div>	</div>
</div><a href="/tobaccos/sarma" class="yellow_button additional">
    <div>Подробнее о Сарма</div>
</a>
<div class="object_additional">
	<div>
		<span>По данному вкусу представлены отзывы, обзоры, рекомендации по миксам (с чем смешивать) и по забивке. 
Выбирая вкус, обращайте внимание на количество оценок, – чем больше оценок, тем объективнее рейтинг</span>
	</div>
	<div>
		<span>Нашли ошибку в описании или некорректный рейтинг?</span>
		<a href="/contacts" class="object_notice">Напишите нам</a>
	</div>
</div>
	</div>
</section></main>
<footer>
	<div class="footer_wrapper">
		<div class="footer_wrapper_top">
			<div>
				<div class="footer_logo">
					<img src="https://htreviews.org/images/svg/logo/logoShort.svg" alt="logo">
				</div>
				<div class="footer_title">
					<span>
						Общественный рейтинг табаков для кальяна
					</span>
				</div>
				<div class="footer_social">
					<a href="https://www.youtube.com/channel/UCKEC_72xr_JewrBDrzS6r7A" aria-label="youtube"
						target="_blank">
						<span>youtube</span>
						<img src="https://htreviews.org/images/svg/socials/youtube.svg" alt="">
					</a>
					<a href="https://vk.com/htreviews" aria-label="vk" target="_blank">
						<span>vk</span>
						<img src="https://htreviews.org/images/svg/socials/vk.svg" alt="">
					</a>
					<a href="https://t.me/htreviews1" aria-label="telegram" target="_blank">
						<span>telegram</span>
						<img src="https://htreviews.org/images/svg/socials/telegram.svg" alt="">
					</a>
				</div>
			</div>
			<div>
				<a href="/tobaccos">Рейтинг табаков</a>
				<a href="/tobaccos/brands">Рейтинг брендов</a>
				<a href="/tobaccos/lines">Рейтинг линеек</a>
				<a href="/hall-of-fame">Зал славы</a>
				<a href="/reviews">Новые отзывы</a>
			</div>
			<div>
				<a href="/news">Новости</a>
				<a href="/contacts">Контакты</a>
				<a href="/marketing-materials">Маркетинговые материалы</a>
				<a href="/terms">Условия использования</a>
				<a href="/privacy-policy">Политика конфиденциальности</a>
			</div>
			<div>
				<span>
					Этот сайт служит для предоставления отзывов и оценок.
					Сайт не используется в рекламных или маркетинговых целях.
					Материалы на сайте не являются предложениями о продаже или покупке
					какого-либо продукта представленного на сайте Htreviews
				</span>
				<img src="https://htreviews.org/images/svg/smokeWarning/smokeWarningRu.svg" alt="">
			</div>
		</div>
		<div class="footer_wrapper_bottom">
						<div>
				© HTReviews 2015 - 2026 Copyright Hookah Tobacco Reviews. Все права защищены.
				Отдельные обзоры и мнения участников не отражают мнение всего сайта.
				Опубликованные отзывы на этом сайте содержат авторские права на интеллектуальную собственность,
				и не могут быть воспроизведены в какой-либо форме без письменного согласия администрации Hookah Tobacco
				Reviews.
			</div>
		</div>
	</div>
</footer>
<!-- SCRIPTS -->
<script src="https://htreviews.org/src/scripts/tobacco.js?v=9" defer></script>
<script src="https://htreviews.org/src/scripts/reviews.js?v=9" defer></script>
<script src="https://htreviews.org/src/scripts/common.js?v=9" defer></script>
<script src="https://htreviews.org/src/scripts/notifications.js?v=9" defer></script>
<script src="https://htreviews.org/src/scripts/htmx_2.0.6.min.js" defer></script>
<script type="text/javascript">
function toggleMenu() {
	var menuItems = document.getElementsByClassName('menu-item');
	for (var i = 0; i < menuItems.length; i++) {
		var menuItem = menuItems[i];
		menuItem.classList.toggle("hidden");
	}
}
</script>
<!-- -->
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
	(function () {
		'use strict';
		let loaded = false;
		let	metricaId = 46938081;
		let timerId;
		// Для бота Яндекса грузим Метрику сразу.
		if (navigator.userAgent.indexOf('YandexMetrika') > -1) {
			loadMetrica();
		} else {
			window.addEventListener('scroll', loadMetrica, {passive: true});
			window.addEventListener('touchstart', loadMetrica);
			document.addEventListener('mouseenter', loadMetrica);
			document.addEventListener('click', loadMetrica);
			document.addEventListener('DOMContentLoaded', loadFallback);
		}
		function loadFallback() {
			timerId = setTimeout(loadMetrica, 1000);
		}
		function loadMetrica(e) {
			// if (e && e.type) {
			// 	console.log(e.type);
			// } else {
			// 	console.log('DOMContentLoaded');
			// }
			if (loaded) { return; }
			(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
			m[i].l=1*new Date();
			for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
			k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
			// (window, document, "script", "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/tag.js", "ym");
			(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
			ym(metricaId, "init", {
				clickmap:true,
				trackLinks:true,
				accurateTrackBounce:true,
				webvisor:false
			});
			loaded = true;
			clearTimeout(timerId);
			window.removeEventListener('scroll', loadMetrica);
			window.removeEventListener('touchstart', loadMetrica);
			document.removeEventListener('mouseenter', loadMetrica);
			document.removeEventListener('click', loadMetrica);
			document.removeEventListener('DOMContentLoaded', loadFallback);
		}
	})()
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/46938081" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<script type="application/ld+json">
{
	"@context": "https://schema.org/",
	"@type": "WebSite",
	"name": "Hookah Tobacco Reviews",
	"url": "https://htreviews.org/",
	"potentialAction": {
		"@type": "SearchAction",
		"target": "https://htreviews.org/search/?text={search_term_string}",
		"query-input": "required name=search_term_string"
	}
}
</script><script type="application/ld+json">
{
	"@context": "https://schema.org/",
	"@type": "BreadcrumbList",
	"itemListElement": [{"@type":"ListItem","position":1,"name":"Главная","item":"https://htreviews.org/"},{"@type":"ListItem","position":2,"name":"tobaccos","item":"https://htreviews.org/tobaccos"},{"@type":"ListItem","position":3,"name":"sarma","item":"https://htreviews.org/tobaccos/sarma"},{"@type":"ListItem","position":4,"name":"klassicheskaya","item":"https://htreviews.org/tobaccos/sarma/klassicheskaya"},{"@type":"ListItem","position":5,"name":"zima","item":"https://htreviews.org/tobaccos/sarma/klassicheskaya/zima"}]}
</script></body>
</html>